@font-face{
    font-family: 'Noah-Bold', sans-serif;
    src: url('../fonts/Noah-Bold.woff2') format('woff2'),
         url('../fonts/Noah-Bold.woff') format('woff');
    font-weight: bold;
}
@font-face{
    font-family: 'Noah-Regular', sans-serif;
    src: url('../fonts/Noah-Regular.woff2') format('woff2'),
         url('../fonts/Noah-Regular.woff') format('woff');
    font-weight: 400;
}



@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?bey6za');
    src:  url('../fonts/icomoon.eot?bey6za#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?bey6za') format('truetype'),
      url('../fonts/icomoon.woff?bey6za') format('woff'),
      url('../fonts/icomoon.svg?bey6za#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-user:before {
    content: "\e8f9";
  }