@media (max-width: 1430px){
   
    .tabs-content__item .product__item {
        margin: 10px;
    }
}
@media (max-width: 1400px){
    .slider__inner, 
    .review__inner{
        text-align: center;
    }
    .review__item{
        max-width: 630px;
    }
    .footer__menu{
        width: 250px;
    }
    .tabs-content__item{
        .product__item{
            width: 296px;
        }
    }
    .content__tab {
        margin-left: 30px;
    }
}
@media (max-width: 1370px){
    
    .blog__item-images {
        max-width: 275px;
        height: 286px;
    }
}
@media (max-width: 1350px){
    .product__item{
        max-width: 296px;
        padding: 6px 28px;
    }
    .blog__item{
        margin: 15px auto 0;
    }
    .banner__button{
        margin-top: 20px;
        margin-left: 0;
    }
    
}
@media (max-width: 1300px){
    .review__item{
        max-width: 570px;
        padding: 8px 30px 15px;
    }
    .different__item{
        width: 610px;
    }
    .recipe__item{
        max-width: 590px;
    }
    .footer__adress {
        width: 365px;
    }
    .footer__mail {
        width: 445px;
    }
    .step-before::before{
        display: none;
    }
    .step-last.step::after{
        display: none;
    }
    .tabs-content__item .product__item {
        max-width: 350px;
        width: 100%;
        margin: 20px;
    }
    .blog__recipes-boxitem {
        padding: 30px 30px 26px;
    }
}
@media (max-width: 1260px){
    .product__item{
        max-width: 355px;
        padding: 8px 40px;
    }
    .categories__item{
        min-width: 355px;
        height: 234px;
    }
    .product__item-none{
        display: none;
    }
    .different__item {
        width: 550px;
        padding: 35px 59px 70px 47px;
    }
    .product__img{
        max-width: 210px;
        height: 174px;
    }
    .footer__adress {
        width: 350px;
    }
    .footer__menu{
        width: 300px;
    }
    .footer__mail {
        width: 350px;
    }
}
@media (max-width: 1220px){
    .box-anather{
        display: block;
    }
    .box-list{
        margin-left: 0;
        margin-top: 30px;
    }
    .rec-products__box{
        align-items: flex-start;
        padding-top: 185px;
    }
    .rec-products__item{
        margin: 0 auto;
    }
}
@media (max-width: 1180px){
    .review__text{
        font-size: 16px;
    }
    .review__item{
        max-width: 500px;
    }
    .different__item {
        width: 495px;
        padding: 43px 30px 80px 30px;
    }
    .produckt-page__inner{
        display: block;
    }
   
    .produckt-page__item{
        width: 100%;
        margin: 0;
        margin-bottom: 30px;
    }
    .produckt-bg,
    .produckt-page__mobil{
        text-align: center;
    }
    .reviews__inner{
        display: block;
        border-top: none;
    }
    .reviews__item + .reviews__item {
        margin-left: 0px;
    }
    .reviews__item{
        width: 100%;
    }
    .reviews-scroll{
        min-width: 100%;
    }
    .reviews__item-text {
        width: 90%;
    }
    .feackback-form__name {
        min-width: 350px;
    }
    .feackback-form__name input{
        min-width: 350px;
    }
    .feackback-form_text textarea {
        min-width: 350px;
    }
    .prediction__item{
        margin-right: 30px;
    }
}
@media (max-width: 1160px){
    .recipe__inner{
        padding-bottom: 50px;
    }
    .recipe__item img {
        max-width: 500px;
        height: 250px;
    }
    
}
@media (max-width: 1120px){
    .product__item{
        max-width: 320px;
    }
    .categories__item{
        min-width: 305px;
        height: 219px;
    }
    .footer__list li {
        margin-right: 20px;
    }
    .footer__link{
        font-size: 25px;
    }
    .footer__menu {
        width: 300px;
        margin: 20px auto;
    }
    .contact__information_item{
        margin: 0 auto 20px;
    }
    .prediction__box{
        margin: 0 auto;
    }
    .tabs-content__item{
        .product__item{
             margin: 15px 10px;
        }
    }
    .rec-products__box{
        padding-top: 150px;
    }
    .about-us__box {
        margin-right: 70px;
    }
    .about-us__caption {
        margin-top: 40px;
    }
}
@media (max-width: 1080px){
    .prediction-img {
        width: 536px;
        height: 520px;
    }
    .prediction-text {
        font-size: 28px;
        top: 200px;
        left: 60px;
        width: 380px;
    }
    .contact__information_box {
        width: 390px;
    }
    .form-block__and{
        display: none;
    }
    .form-link__list {
        width: 90px;
    }
    .form-link__itemtitle {
        font-size: 14px;
    }
    .tabs-content__item{
        .product__item{
           max-width: 296px;
           width: 100%;
           margin: 20px; 
        }
        
    }
    .catalog__tabs{
        max-width: 250px;
    }
    .about__holder-item img {
        width: 80%;
    }
    .about-us__box{
        img{
            width: 450px;
            height: 450px;
        }
    }
    .about-us__box::before {
        width: 362px;
        height: 473px;
        left: 50px;
        bottom: 60px;
    }
    .about-us__caption, .about-us__lead {
        padding-left: 38px;
    }
    .about-us__caption{
        font-size: 28px;
    }
    .about-us__lead{
        font-size: 18px;
        padding-right: 20px;
    }
}
@media (max-width: 1050px){
    .categories__item{
        margin-bottom: 30px;
    }
    .product__item{
        max-width: 270px;
        width: 100%;
        height: 360px;
        padding: 5px 17px;  
    }
    .product__star {
        margin-bottom: 5px;
    }
    .review__item{
        max-width: 450px;
    }
    .different__inner,
    .recipe__inner{
        flex-wrap: wrap;
        display: block;
        margin-bottom: 20px;
        text-align: center;
    }
    .recipe__item img {
        max-width: 650px;
        height: 320px;
        margin-bottom: 20px;
    }
    .different__item{
        width: 695px;
        margin: 20px auto;
        padding-left: 30px;
        text-align: left;
    }
    .contact-feedback{
        display: block;
    }
    .step::after{
        display: none;
    }
    .progress-bar__inner{
        width: 100%;
        padding-bottom: 20px;
    }
    .catalog__banner-title{
        font-size: 28px;
    }
    .catalog__banner{
       width: 750px;
        width: 100%;
    }
    .about-ua__subtitle {
        margin: 25px 0 30px;
    }
 }
 @media (max-width: 990px){
    .recipe__item img {
        width: 100%;
    }
    .prediction__inner{
        flex-wrap: wrap;
        .prediction__item{
            display: block;
            margin-bottom: 50px;
        }
        .prediction__box{
            width: 100%;
        }
    }
    .step {
        width: 20%;
        text-align: center;
    }
    .catalog__box-1{
        justify-content: start;
    }
   
    .tabs-content__item{
        .product__item{
           margin: 15px 5px; 
        }
        
    }
}
@media (max-width: 960px){
   
    .categories__title{
       margin-bottom: 35px;
    }
    .categories__item{
        min-width: 273px;
        height: 210px;
        margin-bottom: 38px;
    }
    .review__item{
        max-width: 900px;
        width: 100%;
    }
    .review__inner{
        margin-left: 0px;
        margin-right: 0px;
    }
    .about-us__itemtext {
        width: 100%;
        padding-bottom: 40px;
    }
    .about-us__lead{
        width: 100%;
        margin-bottom: 40px;
    }
    .about-us__caption, .about-us__lead {
        padding-left: 7px;
    }
}
@media (max-width: 900px){
    .tabs-content__item{
        .product__item{
           max-width: 350px;
           width: 100%; 
        }
    }
    .tabs-categori {
        max-width: 250px;
        padding: 50px 0 50px 45px;
    }
    .account-history__scroll {
        width: 420px;
    }
    .account__scroll-item {
        width: 380px;
    }
    
}
@media (max-width: 880px){
    .categories__item{
        max-width: 348px;
        width: 100%;
        height: 230px;
    }
    .choice__product{
        display: none;
    }
    .footer__list {
        padding-top: 10px;
        display: block;
        text-align: center;
        li{
           margin-top: 10px; 
           min-width: 100%;
        }
    }
   .different__item {
        min-width: 100%;
        padding-left: 70px;
    }
    .bullet{
        span{
            display: none;
        }
    }
    .cerckle{
        display: none;
    }
    .progress-bar__inner{
        padding-bottom: 0;
    }
    .contact__information-inner{
        padding-top: 0;
        padding-bottom: 30px;
    }
    .contact__information_box {
        width: auto;
    }
    
}
@media (max-width: 850px){
    .banner__inner {
        margin-bottom: 30px;
    }
    .menu__list{ 
        display: none;
        position: fixed;
        background-color: #fff;
        top: 65px;
        left: 0px;
        right: 0px;
        bottom: 10px;
        z-index: 5;
        text-align: center;
        height: 120px;
        li{
            display: block;
            & + .menu__item{
                margin-left: 0;
            }
        }
    }
    .menu__item{
        margin-bottom: 10px;
        border-bottom: 1px solid #c4c4c4;
        padding-bottom: 3px;
    }
    .menu__btn{
        display: block;
        width: 30px;
        cursor: pointer;
        div{
           height: 3px;
           background-color: #000000;  
           & + div{
               margin-top: 4px;
           }
        }
    }
    .banner__inner{
        .slick-dots{
            bottom: 15px;
        }
    }
    .categories__items{
        justify-content: space-around;
    }
    .product__item{
        max-width: 335px;
        width: 100%;
        height: 375px;
        padding: 10px 40px;  
    }
    .product__star {
        margin-bottom: 16px;
    }
   
    .feackback-form{
        display: block;
    }
    .feackback-form_text {
        margin-left: 0;
        margin-top: 20px;
    }
    .feackback-fotm__input {
        margin-bottom: 15px;
    }
    .feackback-form__name {
        max-width: 300px;
    }
    .feackback-form_text textarea {
        max-width: 300px;
    }
}
@media(max-width: 800px){
    .jq-ry-container>.jq-ry-group-wrapper>.jq-ry-group>svg {
        width: 20px;
    }
}
@media (max-width: 750px){
    .categories__item {
        max-width: 305px;
        width: 100%;
        height: 230px;
    }
    .different__item{
        width: 600px;
    }
    .catalog__banner{
        display: none;
    }
    .catalog__inner-btn{
        display: none;
    }
    .container__tabs{
        display: block;
    }
    .tabs-categori {
        max-width: 100%;
        text-align: center;
        padding: 15px 0;
        img{
            margin: 0 auto;
        }
        .tab{
            margin-bottom: 18px;
        }
        .on-tab::after{
            display: none;
        }
    }
    .tabs-user {
        margin-bottom: 25px;
    }
}
@media (max-width: 740px){

    .product__item{
        max-width: 290px;
        width: 100%;
        height: 360px;
        padding: 5px 30px;  
    }
    .product__star {
        margin-bottom: 5px;
    }
    .product-btn{
        padding: 5px 14px;
    }
    .title{
        font-size: 28px;
    }
    .categories__title{
        font-size: 32px;
    }
    .different__btn {
        padding: 10px 13px;
        font-size: 13px;
        line-height: 17px;
    }
   
}
@media (max-width: 700px){
    .slider__inner{
        .product__item{
            width: 100%;
        }
    }
    .categories__item{
        max-width: 270px;
    }
    .catalog__box-menu{
        display: block;
        margin: 15px 0;
    }
    .menu__filter-box{
        margin-left: 0;
    }
    .catalog__price-tabs{
        display: none;
    }
    .tabs-content__item{
        .product__item{
           max-width: 296px;
           width: 100%; 
        }
        
    }
    .catalog__inner-tab{
        display: block;
    }
    .catalog__tabs{
        margin: 0px;
        display: flex;
        max-width: 100%;
        overflow-x: auto;
        a{
            padding: 0 10px;
            display: inline-table;
            padding: 0 10px;
            margin: 30px 0;
        }
        .tab{
            margin-bottom: 19px;
        }
        
    }
    .product__img{
        max-width: 170px;
        width: 100%;
        height: 155px;
        img{
            width: 170px;
        }
    }
    .tabs-content__item {
        .product__item{
           max-width: 250px;
           width: 100%;  
           height: 290px;
           padding: 5px 15px;
        }
    }
    .product__info{
        margin: 0;
    }
    .product__info-title{
        height: 40px;
    }
    .breadcrumbs {
        margin-bottom: 10px;
    }
    .catalog__tab{
        width: 150px;
        text-align: center;
    }
   .blog__recipes-box{
       display: block;
   }
}

@media (max-width: 650px){
    .categories__item{
        max-width: 250px;
        width: 100%;
        height: 214px;
    }
    .categories__title {
        margin-bottom: 20px;
    }
    .product__item{
        max-width: 350px;
        width: 100%;
        height: 375px;
        padding: 10px 40px;  
    }
    .slick-dots {
        bottom: -40px;
    }
    .title{
        text-align: center;
    }
    .footer__info{
        text-align: center;
    }
    .different__item {
        width: 400px;
        max-width: 100%;
        padding-left: 20px;
    }
    .recipe__title{
        max-width: 250px;
        margin-bottom: 0px;
    }
    .recipe__btn {
        padding: 10px 17px 10px;
    }
    .recipe__item img {
        height: 250px;
    }
    .blog__item{
        width: 100%;
    }
    .blog__item-title {
        font-size: 16px;
    }
    .blog__item-images {
        max-width: 260px;
        height: 250px;
    }
    .blog__box-info{
        margin-bottom: 10px;
    }
    .blog__box{
        padding: 10px 15px;
    }
    .blog__item-btn {
        padding: 8px 25px;
        margin-top: 10px;
        font-size: 9px;
    }
    .about__holder-text {
        padding: 0 15px;
        width: 100%;
    }
}

@media (max-width: 600px){
    .delivery__variants{
        display: none;
    }
    .form__delivery{
        display: block;
    }
    .reviews-scroll{
        height: 250px;
    }
    .contacts__title {
        margin-top: 20px;
    }
    .contact__input {
        margin-bottom: 20px;
    }
    .contacts__inner {
        margin: 0px 0px 10px;
    }
    .progress-bar__inner{
        display: none;
    }
    .about__holder-title {
        font-size: 19px;
        margin: 14px 0 11px;
    }
    .about__holder-text {
        font-size: 10px;
    }
    .about__holder-inner {
        padding-top: 44px;
        padding-bottom: 65px;
    }
}
@media (max-width: 580px){
    .title{
        font-size: 22px;
        margin-left: 0px;
    }
    .categories__item {
        min-width: 228px;
        height: 171px;
        margin-bottom: 20px;
        img{
            max-width: 150px;
            height: 110px;
            width: 65%;
        }
    } 
    .produckt2-boxprice{
        display: block;
    }
    .produckt-page__btn{
        max-width: 192px;
    }
    .produckt2-boxprice select{
        margin-bottom: 20px;
    }
    .delideri__coment {
        margin:20px 0px;
        display: block;
    }
    .delivery-style {
        width: 54px;
        font-size: 12px;
        height: 29px;
    }
    .delivery-label{
        margin-right: 70px;
    }
    .prediction__inner{
        padding-top: 35px;
    }
    .prediction__item {
        margin-right: 0px;
        margin: 0 auto;
    }
    .prediction-img {
        width: 450px;
        height: 480px;
    }
    .prediction-text {
        font-size: 24px;
        left: 32px;
    }
    .blog{
        padding-top: 20px;
    }
    .blog__recipes-inner{
        display: block;
    }
    .rec-products__box {
        padding-top: 50px;
        margin: 0 auto;
    }
    .box-list {
        width: 100%;
    }
}


@media (max-width: 550px){
    .menu {
        margin-right: 48px;
        margin-top: 5px;
    }
    .different__text {
        max-width: 260px;
        font-size: 14px;
    }
    .different__img {
        width: 210px;
        height: 160px;
        right: 0;
    }
    .categories__item{
        min-width: 100%;
    }
    .box-feackback{
        display: block;
    }
    .star-reviews-feackbeck {
        margin: 20px 0px;
    }
    .reviews__title {
        margin-bottom: 20px;
    }
    .produckt-page__mobil{
        img{
            width: 310px;
            height: 337px;
        }
    }
    .info__delivery-text{
        font-size: 9px;
    }
    .about-us__box{
        img{
             width: 400px;
            height: 400px;
        }
    }
    .about-us__box::before {
        width: 300px;
        height: 430px;
    }
}
@media(max-width: 535px){
    .blog__tab-link {
        font-size: 15px;
    }
    .menu__blog-list{
        margin-bottom: 30px;
    }
    .blog__item {
        height: 209px;
    }
    .blog__item-images {
        max-width: 200px;
        height: 199px;
    }
    .blog__item-title {
        font-size: 14px;
    }
    .blog__box-info {
        margin-bottom: 5px;
    }
    .blog__item-btn {
        padding: 3px 5px;
        margin-top: 15px;
    }
    .blog__item-text {
        font-size: 10px;
        padding-bottom: 9px;
        height: 50px;
        overflow-y: auto;
    }
    .blog__box{
        padding: 6px 6px;
    }
}
@media (max-width: 500px){
    .categories__item {
        height: 171px;
    }
    .footer__link{
        font-size: 20px;
    }
    .different__img {
        width: 160px;
        height: 120px;
    }
    .different__btn {
        padding: 10px 12px;
        font-size: 12px;
    }
    .recipe {
        padding-top: 30px;
    }
    .recipe__inner {
        padding-bottom: 20px;
    }
    .prediction__box-itemtitle{
        width: 90px;
        font-size: 10px;
    }
    .prediction__box-itemprice {
        margin-left: 30px;
    }
    .prediction__box-inner{
        padding: 15px;
    }
    .prediction__box{
        width: 370px;
    }
    .produckt-page__box-title{
        font-size: 16px;
    }
    .form-link__item{
        width: 200px;
    }
    .form-link__itemtitle {
        text-align: left;
    }
    .contact-checkbox__label{
        display: block;
        margin-bottom: 15px;
    }
    .content__tab{
        margin-left: 0;
    }
    .account-box__scrol{
        .account__scroll-item{
        padding-left: 0;
        }
        .account-history__scroll {
            width: 350px;
        }
        .account__scroll-item {
            width: 320px;
        }
    }
    
}
@media (max-width: 480px){
    .prediction__box-items {
        width: 320px;
    }
    .prediction__box {
        width: 360px;
    }
    .prediction__box-itemprice {
        margin-left: 10px;
        font-size: 12px;
    }
    .prediction__box-item{
        .prediction__box-itemtitle{
            font-size: 13px;
        }
    }
    .prediction__box-item img {
        width: 48px;
        height: 48px;
    }
    .prediction__box{
        width: 300px;
    }
    .prediction__box-items {
        width: 256px;
    }
    .prediction-img {
        width: 370px;
        height: 390px;
    }
    .prediction-text{
        font-size: 19px;
    }
    .prediction-text{
        width: 300px;
    }
    .prediction__inner{
        .prediction__box-items{
            width: 353px;
        }
    }
    .contacts__title-map {
        margin-bottom: 15px;
    }
    .blog__user-name{
        margin-left: 6px;
        font-size: 10px;
    }
    .blog__item-title {
        font-size: 11px;
    }
    .blog__box{
        width: 100%;
    }
    .about__holder-inner {
        display: block;
    }
    .about__holder-item {
        margin-bottom: 20px;
        img{
            width: 50%;
        }
    }
    .about__holder-text {
        font-size: 14px;
    }
}
@media (max-width: 460px){
    .different__img {
        width: 165px;
        height: 130px;
    }
    .different__title {
        font-size: 21px;
        margin-bottom: 17px;
    }
    .different__btn {
        padding: 10px 16px;
        font-size: 10px;
    }
  .header{
       overflow-x: hidden;
    }
    .header__btn-menu{
        display: block;
        width: 50px;
        height: 50px;
        position: relative;
        background-color: #fff;
        &::before{
            position: absolute;
            font-family: 'icomoon';
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            font-size: 36px;
            color: #000000;
            background-color: #fff;
        }
    }
    .user{
        transition: all .3s;
        transform: translateX(250%);
        &.active{
            transform: translateX(0); 
        }
    }
    .user__item{
        margin-right: 10px;
    }
    .recipe__title {
        max-width: 210px;
    }
    .recipe__btn{
        font-size: 13px;
    }
    .recipe__item img {
        height: 196px;
    }
    .produckt-bg img {
        width: 350px;
        height: 350px;
    }
    .produckt-bg {
        height: 370px;
    }
    .produckt-page__pricetext{
        width: 320px;
    }
    .feackback-form__name input {
        min-width: 300px;
    }
    .feackback-form_text textarea {
        min-width: 300px;
    }
    .blog__tab-link {
        font-size: 12px;
    }
    .footer__mail{
        width: 100%;
    }
    .footer__adress {
        width: 100%;
    }
    .menu__filter-box{
        text-align: left;
        display: block;
    }
}
@media (max-width: 440px){
    .menu {
        margin-right: 10px;
        margin-top: 6px;
    }
    .header__btn-menu{
        margin-right: -15px;
    }
    .user__list {
        margin-right: -30px;
        margin-left: 10px;
    }
    .logo{
        .logo__img{
            width: 125px;
            margin-right: -35px;
        }
    }
    .menu__btn{
        width: 25px;
        margin-top: -3px;
    } 
    .user__item{
        img{
            width: 20px;
            height: 20px;
        }
    }
    .header__btn-menu{
        width: 35px;
        height: 35px;
        &::before{
            font-size: 30px;
        }
    }
    .review__text{
        line-height: 20px;
    }
    .produckt2-boxprice select {
        width: 280px;
    }
    .breadcrumbs__list-item {
        font-size: 12px;
    }
    .prediction__inner{
        .prediction__box-items{
            width: 310px;
        }
    }
    .blog__item-text {
        height: 45px;
    }
    .about-us__box {
        margin-right: 0px;
    }
    .about-us__box img {
        width: 320px;
        height: 375px;
    }
    .about-us__box::before {
        width: 240px;
        height: 380px;
    }
    .delivery-style {
        width: 43px;
    }
    .delivery-label{
        margin-right: 50px;
    }
}
@media (max-width: 390px){
    .prediction__inner{
        .prediction__box-items{
            width: 290px;
        }
    }
    .prediction-img {
        width: 330px;
        height: 360px;
    }
    .prediction-text {
        width: 280px;
    }
    .prediction-text{
        top: 160px;
    }
    .contact__information_title{
        font-size: 20px;
    }
    .blog__item-images {
        max-width: 175px;
        height: 175px;
    }
    .blog__item {
        height: 175px;
    }
    .blog__item-btn {
        margin-top: 5px;
    }
    .delideri__coment {
        textarea{
             width: 210px;
        }
    }
    .contacts__phone {
        font-size: 24px;
    }
    .user-satings span {
        margin-left: 5px;
        font-size: 10px;
    }
    .account-box__scrol {
        .account__scroll-item{
             width: 277px;
        }
       .account-history__scroll{
            width: 295px;
       }
    }
}

@media (max-width: 360px){
    .recipe__title {
        max-width: 175px;
        font-size: 17px;
    }
    .recipe__btn {
        padding: 8px 11px 5px;
    }
    .prediction-img {
        width: 310px;
        height: 340px;
    }
    .prediction__help-box{
        padding: 0;
    }
    .prediction__inner .prediction__box-items {
        width: 265px;
    }
    .about-us__box::before {
        width: 224px;
        height: 351px;
        left: 38px;
        bottom: 42px;
    }
    .about-us__box img {
        width: 299px;
        height: 340px;
    }
}
@media (max-width: 340px){
    .prediction-img {
        width: 290px;
        height: 320px;
    }
    .prediction-text{
        font-size: 16px;
    }
    .prediction-text{
        width: 250px;
    }
    .lable-satings input {
        width: 220px;
    }
}




@media (min-width: 851px){
    .menu__list{
        display: block !important;
    }
}